.about-section {
  padding: 80px 5%;
  background-color: #ffffff;
}
.about-heading{
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
   color: #57b708;
  font-weight: bold;
  line-height: 1.8;
  /* New Styling */
  border: 2px solid #57b708;
  border-radius: 12px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 15px rgba(87, 183, 8, 0.2);
}
.about-container {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.trust-objectives {
  padding-left: 20px;
  margin-top: 20px;
}

.trust-objectives li {
  margin-bottom: 18px;
  text-align: justify;
  line-height: 1.8;
  color: #333;
}

.trust-objectives strong {
  color: #000;
}
.abouthead{
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  color: #2896ea;
  font-weight: bold;
}
.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.about-content {
  flex: 1;
}

.about-content h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-content h3 {
  margin-top: 20px;
  font-size: 22px;
  color: #f4b400;
  font-weight: 600;
}

.about-content p {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
  margin-top: 10px;
}

.about-btn {
  margin-top: 25px;
  padding: 12px 25px;
  background-color: #f4b400;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.about-btn:hover {
  background-color: #ff9800;
}

/* Responsive */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }
}
/* Gallery Styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns */
    gap: 10px;
    /* margin: 20px 0; */
  }
  
  .gallery-item {
    cursor: pointer;
  }
  
  .gallery-item img {
    width: 80%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover img {
    transform: scale(1.05);
  }
  
  /* Lightbox Styles */
  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .lightbox-content {
    position: relative;
  }
  
  .lightbox-content img {
    max-width: 100%;
    max-height: 100vh;
    border-radius: 5px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: -23%;
    font-size: 36px;
    color: white;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .close:hover {
    color: #f0a;
  }
  