/* Footer.css */

.footer-section {
  background: #0f172a;
  color: white;
  padding: 70px 0 20px;
  margin-top: 60px;
}

.footer-logo {
  font-size: 30px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}

.footer-text {
  color: #cbd5e1;
  line-height: 1.8;
  margin-bottom: 20px;
  
}

.footer-btn {
  background: #16a34a;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
}

.footer-btn:hover {
  background: #15803d;
}

.footer-title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links li a {
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.3s;
}

.footer-links li a:hover {
  color: #22c55e;
  padding-left: 5px;
}

.footer-social {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.footer-social a {
  width: 40px;
  height: 40px;
  background: #1e293b;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
}

.footer-social a:hover {
  background: #22c55e;
  transform: translateY(-4px);
}

.footer-section hr {
  border-color: #334155;
  margin: 40px 0 20px;
}

.footer-bottom p {
  color: #94a3b8;
  margin: 0;
}

.footer-bottom .fa-heart {
  color: red;
}

@media (max-width: 768px) {
  .footer-logo {
    font-size: 24px;
  }

  .footer-title {
    margin-top: 20px;
  }
}