.team-section {
  padding: 60px 40px;
  text-align: center;
  background: #f5f7fa;
}
.details{
  font-size: 15px;
  color: #110707;
  margin-top: 10px;
  text-align: justify;
}
.team-title {
  font-size: 42px;
  margin-bottom: 40px;
  color: #333;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.team-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;

  height: 100%;
  display: flex;
  flex-direction: column;
}

.swiper-slide {
  height: auto !important;
  display: flex;
}

.swiper-wrapper {
  align-items: stretch;
}
.team-card:hover {
  transform: translateY(-8px);
}

.team-card img {
  width: auto;
  height: 300px;
  border-radius: 5px;
  object-fit: contain;
  margin-bottom: 15px;
}

.team-card h3 {
  margin: 10px 0 5px;
}

.team-card p {
  color: #141313;
  font-size: 18px;
}
.swiper-button-next,
.swiper-button-prev {
  transform: scale(0.6);
  color: #333;
  font-weight: bold;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}